name: Node.js Publish Release

on:
  release:
    types: [released]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 24
      - run: bun i
      - run: bun dev:build
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ./.npmrc
        env:
          NPM_TOKEN: ${{secrets.npm_token}}
      - run: npm publish
        env:
          NPM_TOKEN: ${{secrets.npm_token}}
